<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 th:text="${product.id == null ? 'Add' : 'Edit'} + ' Product'">Edit Product</h2>
    <form th:action="@{/products/admin/edit}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="mb-3">
            <label>Name</label>
            <input type="text" th:field="*{name}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <input type="text" th:field="*{description}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label>Price</label>
            <input type="number" step="0.01" th:field="*{price}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label>Category</label>
            <select class="form-select" name="categoryId">
                <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"
                        th:selected="${product.categoryId == cat.id}">Category</option>
            </select>
        </div>
        <button class="btn btn-success" type="submit">Save</button>
        <a th:href="@{/products/admin}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>
